.app {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: aliceblue;
}
.app::before {
  content: "";
  position: absolute;
  background: url("./assets/bg-weather.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
h2 {
  margin: 0;
  padding-top: 1rem;
  font-size: 2rem;
}
h1 {
  font-size: 4rem;
  margin: 0;
  letter-spacing: -3px;
}
h5 {
  font-size: 2rem;
  padding-top: 5rem;
  margin: 0;
  text-transform: uppercase;
}
h6 {
  margin: 0;
}
